@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
    --color-accent: orange;
    --color-border: #aaa;
}

body {
    margin: 1em;
    font-family: "Libre Baskerville", serif;
    font-size: 1.25rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
}

a {
    color: var(--color-accent);
    text-decoration: none;
}

hr {
    width: 25%;
    border: 1px solid var(--color-border);
}

blockquote {
    font-style: italic;
}

code {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    background-color: #efefef;
    padding: 0 0.2em;
    border-radius: 0.125em;
    word-break: break-word;
}

pre {
    background-color: #efefef;
    border-radius: 0.25em;
    overflow-x: auto;
}

pre code {
    display: block;
    padding: 0.5em;
    background: none;
}

main.article {
    max-width: 42em;
    margin: 0 auto;
}

.article--navigation {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
}

.article--header {
    margin: 4em 0;
    text-align: center;
}

.article--title {
    font-size: 2.5em;
    font-weight: 700;
    line-height: initial;
}

.article--list {
    list-style: none;
    padding-inline-start: 0;
}

.article--list li {
    display: flex;
    flex-direction: row;
    padding: 0.5em 0;
    align-items: start;
    justify-content: space-between;
    gap: 1em;
}

.article--list li + li {
    border-top: 1px dashed var(--color-border);
}

.article--list .article--date {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
}

@media screen and (max-width: 700px) {
    body {
        margin: 1rem;
    }

    .article--title {
        font-size: 1.5em;
    }
}
