body {
  background: #fff;
  color: #333;
  font-size: 20px;
  font-family: "Recursive", monospace;
  font-variation-settings:
    "MONO" 1,
    "CASL" 0.5,
    "CRSV" 0;
  font-weight: 450;
  margin: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #111;
    color: #fff;
  }
}

.wrapper {
  margin: auto;
  max-width: 25rem;
}

header {
  margin: 2.5em 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 1.5em;
  font-weight: inherit;

  & a {
    color: inherit;
    text-decoration: none;
  }
}

header .tagline {
  font-style: italic;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: currentColor;
  transition: transform 0.1s;
  text-align: center;
  box-shadow: -3px 3px 0 rgba(from currentColor r g b / 0.6);
}

li .detail {
  display: block;
  font-size: 0.75em;
  opacity: 0.6;
  transition: opacity 0.3s;
}

li:hover {
  transform: scale(1.05);

  & .detail {
    opacity: 1;
  }
}

li + li {
  margin-top: 1rem;
}

li a {
  color: white;
  display: block;
  padding: 1rem;
  text-decoration: none;
}

.tt,
.gh {
  color: #333;
}

.pw {
  color: #fa0;
}

.li {
  color: #0077b5;
}
