---
layout: layouts/base.njk
---

<main class="article">
  <nav class="article--navigation">
    <a href="/">Mario Nachbaur</a>
    <span> / </span>
  </nav>

  <header class="article--header">
    <h1 class="article--title">{{ title }}</h1>
  </header>

  <ul class="article--list">
  {%- for post in collections.words | reverse -%}
    <li>
      <a class="article--title" href="{{ post.url }}">{{ post.data.title }}</a>
      <span class="article--date">{{ post.data.date | simpledate }}</span>
    </li>
  {%- endfor -%}
  </ul>
</main>
