.pageWrapper {
  box-sizing: border-box;
  font-family: 'Cutive Mono', monospace;
  max-width: 640px;
  margin: 0 auto;
}

.header {
  font-size: 2rem;
  font-weight: inherit;
}

.sectionHeader {
  font-size: 1.5rem;
  font-weight: inherit;
}
