body {
  font: 16px monospace;
  margin: 1rem;
}

a {
  color: orange;
  text-decoration: none;
  transition: color .2s;
}

a:hover {
  color: darkorange;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
}

.wrapper {
  margin: auto;
  max-width: 45rem;
}
